/******************************************************************
Site Name: The Classy Theme
Author: Theme Spectre, LLC

Stylesheet: Retina Screens & Devices Stylesheet

******************************************************************/

/* 

EXAMPLE 
.icon {
	background: url(img/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/

