<header class="header" role="banner">

    <div id="inner-header" class="wrap clearfix">

        <!--
        Logo and Blog Title
        <div id="logo" class="h1">
            {{! #if @blog.logo}}<a id="logo" href="/"><img src="{{! @blog.logo}}" alt="Logo"></a>{{!/if}}
        </div>
        -->

        <div id="site-title" class="h1">
            <a href="/" rel="nofollow">{{@blog.title}}</a>
        </div>

        <!-- Site Description -->
        <div id="site-description">
            <h2>{{@blog.description}}</h2>
        </div>

        <!-- Coming Soon! -->
        <nav id="site-navigation"></nav>
        {{!nav}}

    </div> <!-- end #inner-header -->

</header> <!-- end header -->